# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

#modified data
/data/modified-nodes.txt

# production
/dist

npm-debug.log*
yarn-debug.log*
yarn-error.log*
